bin/Debug/net8.0/Google.Protobuf.dll
bin/Debug/net8.0/Grpc.Core.Api.dll
bin/Debug/net8.0/Grpc.Net.Client.dll
bin/Debug/net8.0/Grpc.Net.Common.dll
bin/Debug/net8.0/GrpcGreeterClient
bin/Debug/net8.0/GrpcGreeterClient.deps.json
bin/Debug/net8.0/GrpcGreeterClient.dll
bin/Debug/net8.0/GrpcGreeterClient.pdb
bin/Debug/net8.0/GrpcGreeterClient.runtimeconfig.json
bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
obj/Debug/net8.0/1255d1a520d30ea4_greet.protodep
obj/Debug/net8.0/apphost
obj/Debug/net8.0/GrpcGreeterClient.AssemblyInfo.cs
obj/Debug/net8.0/GrpcGreeterClient.AssemblyInfoInputs.cache
obj/Debug/net8.0/GrpcGreeterClient.csproj.CopyComplete
obj/Debug/net8.0/GrpcGreeterClient.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/GrpcGreeterClient.csproj.FileListAbsolute.txt
obj/Debug/net8.0/GrpcGreeterClient.dll
obj/Debug/net8.0/GrpcGreeterClient.genruntimeconfig.cache
obj/Debug/net8.0/GrpcGreeterClient.pdb
obj/Debug/net8.0/GrpcGreeterClient.sourcelink.json
obj/Debug/net8.0/Protos/Greet.cs
obj/Debug/net8.0/Protos/GreetGrpc.cs
obj/Debug/net8.0/ref/GrpcGreeterClient.dll
obj/Debug/net8.0/refint/GrpcGreeterClient.dll
